.button {
  width: 100%;
  display: flex;
  cursor: pointer;
}

.button-small {
  padding: 16px 24px;
  font-size: 14px;
  border-radius: 8px;
}

.button--medium {
  max-width: 296px;
  padding: 21px 24px;
  font-size: 20px;
  border-radius: 12px;
  font-weight: 600;
  line-height: 116%;
  transition: background-color 0.2s ease-in;
}

.button--primary {
  align-items: center;
  justify-content: center;
  background-color: var(--carrot-color);
  color: var(--white-color);
}

.button--primary:focus {
  background-color: var(--orange-color);
}

.button--primary:hover {
  background-color: var(--macaroni-color);
}

@media (max-width: 768px) {
  .button--medium {
    padding: 16px 24px;
  }

  .button-small {
    padding: 12px 24px;
  }
}

