.quiz-answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 840px;
}

@media (max-width: 1200px) {
  .quiz-answers {
    max-width: inherit;
  }
}

@media (max-width: 800px) {
  .quiz-answers {
    grid-template-columns: 1fr;
  }
}
