.quiz-aside__close-btn {
  padding: 0 3.5%;
  align-self: flex-end;
  display: none;
}

.quiz-aside__list {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  margin: auto 0;
}

@media (max-width: 1200px) {
  .quiz-aside__close-btn {
    display: flex;
  }
}
