.quiz-answers__burger-btn {
  padding: 0 var(--mobile-header-padding);
  margin-left: auto;
  display: none;
}

.quiz-answers__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 116%;
  color: var(--dark-color);
}

@media (max-width: 1200px) {
  .quiz-answers__burger-btn {
    display: flex;
  }

  .quiz-answers__title {
    padding: 0 var(--mobile-header-padding);
    align-self: center;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .quiz-answers__title {
    font-size: 18px;
  }
}
