:root {
    --orange-color: #E87928;
    --carrot-color: #FF8B37;
    --macaroni-color: #FFAC70;
    --light-orange-color: #FFF3EB;
    --green-color: #47D867;
    --light-green-color: #E6FAEA;
    --red-color: #EC6259;
    --light-red-color: #FDEEED;
    --dark-color: #1C1C21;
    --grey-color: #D0D0D8;
    --light-gray-color: #F5F5F7;
    --white-color: #FFFFFF;
    --mobile-header-padding: 3.5%;
}
