.default-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to top left, var(--light-gray-color) 100%);
}

.default-layout--gradient {
  background-image: linear-gradient(to top left, var(--light-orange-color) 50%, var(--white-color) 50%);
}
