.quiz-layout {
  display: flex;
  min-height: 100vh;
}

.quiz-layout__content {
  padding: 3.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
  background-color: var(--light-gray-color)
}

.quiz-layout__aside {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 8px;
  flex: 1;
  background-color: var(--white-color);
}
