.quiz-score {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  cursor: pointer;
}
  
.quiz-score__rectangle {
  position: relative;
  fill: var(--white-color);
  stroke: var(--grey-color);
}
  
.quiz-score::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  background-color: var(--grey-color);
}
  
.quiz-score__checkbox + .quiz-score__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--dark-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 116%;
  z-index: 2;
}

.quiz-score--inactive .quiz-score__rectangle,
.quiz-score--inactive .quiz-score__label {
  stroke: var(--grey-color);
  color: var(--grey-color);
}

.quiz-score--inactive::before,
.quiz-score--inactive::after {
  background-color: var(--grey-color);
}

.quiz-score--active .quiz-score__rectangle,
.quiz-score--active .quiz-score__label {
  stroke: var(--carrot-color);
  color: var(--carrot-color);
}

.quiz-score--active::before,
.quiz-score--active::after {
  background-color: var(--carrot-color);
}

.quiz-score--default .quiz-score__rectangle,
.quiz-score--default .quiz-score__label {
  stroke: var(--grey-color);
  color: var(--dark-color);
}

.quiz-score--default::before,
.quiz-score--default::after {
  background-color: var(--grey-color);
}
